.wd-section-one-border-color {
    border-style: solid;
    border-left-color: rgb(224, 227, 231);
    border-right-color: rgb(224, 227, 231);
    border-top-color: white;
    border-bottom-color: white;
}

.wd-search-text-box {
    border-color: white;
    border-width: 0px;
    width: 90%;
}

.wd-news-title {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.wd-news-image {
    height: 100px;
    width: 100px;
    border-top-left-radius: 3ex;
    border-top-right-radius: 3ex;
    border-bottom-left-radius: 3ex;
    border-bottom-right-radius: 3ex;
}

.wd-search-bar-box {
    border-top-left-radius: 40ex;
    border-top-right-radius: 40ex;
    border-bottom-left-radius: 40ex;
    border-bottom-right-radius: 40ex;
    height: auto;
}

.btn-primary.override-bs-tweet {
    background-color: rgb(55, 138, 232);
    border-top-left-radius: 40ex;
    border-top-right-radius: 40ex;
    border-bottom-left-radius: 40ex;
    border-bottom-right-radius: 40ex;
    width: 100%;
}

.btn-primary.override-bs-follow {
    background-color: black;
    border-radius: 140px;
    height: 40px;
    border-color: black;
    width: fit-content;
}

.wd-whotofo-logo {
    border-radius: 50%;
}

.nav-item>a.active {
    font-weight: bolder;
}